<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>
			<a href="{:U('mall/add_page')}">添加电商</a>
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<ul class="tab-nav nav">
        <li class="current"><a href="{:U('mall/add_page')}">添加电商</a></li>
        <li ><a href="{:U('mall/index')}">电商列表</a></li>
	</ul>
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U('Mall/add_page')}" method="post" class="form-horizontal">
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">名称:<span class="check-tips"></span></label>
                <input type="text" class="text input-large" name="name" value="">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">描述:<span class="check-tips"></span></label>
                <textarea class="textarea input-large" name="desc" ></textarea>
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">地址:<span class="check-tips"></span></label>
                <input type="text" class="text input-large" name="address" value="">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">过期时间:<span class="check-tips"></span></label>
                <input type="text" class="text time" name="expire_time" value="">
            </div>
        </div>

		<div class="form-item cf">
			<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<a class="btn btn-return" href="{:U('article/index?cate_id='.$cate_id)}">返 回</a>
		</div>
	</form>
	</div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
});
</script>
</block>
