<extend name="Public/base" />

<block name="body">
    <style type="text/css">
        .img_list{float:left; text-align: center; margin-right:2px;}
        .img_list .del_img{color:#2d7200; cursor:pointer; padding:5px;}
    </style>
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>
			<a href="{:U('goods/add_page')}">添加商品</a>
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<ul class="tab-nav nav">
        <li class="current"><a href="{:U('goods/add_page')}">添加商品</a></li>
        <li ><a href="{:U('goods/index')}">商品列表</a></li>
	</ul>
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U('goods/add_page')}" class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">标题:<span class="check-tips">*</span></label>
                <input type="text" class="text input-large" name="title" value="{$info.title}">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">副标题:<span class="check-tips"></span></label>
                <input type="text" class="text input-large" name="sub_title" value="{$info.sub_title}">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">分类:<span class="check-tips">*</span></label>
                <input type="text" class="text input-large" name="title" value="{$info.cate_id}">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">促销价:<span class="check-tips">*</span></label>
                <input type="text" class="text input-large" name="price" value="{$info.price}">
                <span class="tip">实际购买价格</span>
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">商品原价:<span class="check-tips">*</span></label>
                <input type="text" class="text input-large" name="org_price" value="{$info.org_price}">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">运费:<span class="check-tips"></span></label>
                <input type="text" class="text input-large" name="postage" value="{$info.postage}">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">主图:<span class="check-tips">*</span></label>
                <input type="file" name="main_img"/>
                <span class="tip">图片比例:290*200</span>
            </div>
            <div class="controls">
                <notempty name="info.main_img">
                    <a href="{$info.main_img}" target="_blank">
                        <img src="{$info.main_img}" width="100"/>
                        <input type="hidden" name="main_img_old" value="{$info.main_img}">
                    </a>
                </notempty>
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">图片:<span class="check-tips"></span></label>
                <input type="file" name="imgs[]"/>
                <span class="up_img_btn btn">增加</span>
            </div>
            <div class="controls">
                <notempty name="info.imgs">
                    <volist name="info.imgs" id="img" >
                        <div class="img_list">
                            <a href="{$img}" target="_blank">
                                <img src="{$img}" width="100"/>
                                <input type="hidden" name="imgs_old[]" value="{$img}"><br/>
                            </a>
                            <span class="del_img">X</span>
                        </div>
                    </volist>
                </notempty>
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">库存:<span class="check-tips">*</span></label>
                <input type="text" class="text input-large" name="stock" value="{$info.stock}">
            </div>
        </div>
        <!--div class="form-item cf">
            <div class="controls">
                <label class="item-label">描述:<span class="check-tips"></span></label>
                <textarea class="textarea input-large" name="desc" ></textarea>
            </div>
        </div-->

        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">产地:<span class="check-tips"></span></label>
                <input type="text" class="text input-large" name="origin" value="{$info.origin}">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">重量:<span class="check-tips"></span></label>
                <input type="text" class="text input-large" name="weight" value="{$info.weight}">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">重量单位:<span class="check-tips"></span></label>
                <input type="text" class="text input-large" name="unit" placeholder="g或者kg" value="{$info.unit}">
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">详情:<span class="check-tips"></span></label>
                {:W('Taginput/editor',array(array('input_name'=>'detail','server_url'=>$server_url,'content'=>$info['detail'])))}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">销售/预订:<span class="check-tips"></span></label>
                <label for="sell_reserve_0">销售</label>
                <input type="radio" class="radio" id="sell_reserve_0" name="sell_reserve" value="0" <eq name="info.sell_reserve" value="0">checked=“checked”</eq> <empty name="info.sell_reserve">checked=“checked”</empty> />

                <label for="sell_reserve_1">预订</label>
                <input type="radio" class="radio" id="sell_reserve_1" name="sell_reserve" value="1" <eq name="info.sell_reserve" value="1">checked=“checked”</eq> />
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">上线:<span class="check-tips"></span></label>
                <label for="online_0">上线</label>
                <input type="radio" class="radio" id="online_0" name="online"value="0"  <eq name="info.online" value="0">checked=“checked”</eq> <empty name="info.online">checked=“checked”</empty> />

                <label for="online_-1">下线</label>
                <input type="radio" class="radio" id="online_-1" name="online" value="-1" <eq name="info.online" value="-1">checked=“checked”</eq> />
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">是否可以下单:<span class="check-tips"></span></label>
                <label for="state_0">是</label>
                <input type="radio" class="radio" id="state_0" name="state" value="0" <eq name="info.state" value="0">checked=“checked”</eq> <empty name="info.state">checked=“checked”</empty> />

                <label for="state_-1">否</label>
                <input type="radio" class="radio" id="state_-1" name="state" value="-1" <eq name="info.state" value="-1">checked=“checked”</eq> />
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <input type="hidden" name="id" value="{$info.goods_id}"/>
            </div>
        </div>

		<div class="form-item cf">
			<button class="btn submit-btn hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<a class="btn btn-return" href="{:U('goods/add_page')}">返 回</a>
		</div>
	</form>
	</div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();

    $('.controls').on('click','.del_img',function () {
        $(this).parent().remove();
    });
    $(document).on('click','.up_img_btn',function () {
        var up_img = $(this).parent().clone();
        $(up_img).filter('input').val('');
        $(this).parent().parent().append(up_img);
    })
});
</script>
</block>
