<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <style type="text/css">
        tr{ height:50px;line-height: 50px;}
    </style>
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>
			<a href="{:U('order/view',['id'=>$id])}">查看订单</a>
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<ul class="tab-nav nav">
        <li ><a href="{:U('order/index')}">订单列表</a></li>
        <li class="current"><a href="{:U('order/view')}">查看订单</a></li>
	</ul>
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U('Mall/add_page')}" class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">订单ID:<span class="check-tips"></span></label>
                {$order_info.order_id}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">用户名:<span class="check-tips"></span></label>
                {$order_info.uid|get_username}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">总金额:<span class="check-tips"></span></label>
                {$order_info.full_money}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">待支付金额:<span class="check-tips"></span></label>
                {$order_info.not_pay_money}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">商品价格:<span class="check-tips"></span></label>
                {$order_info.goods_fee}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">快递费:<span class="check-tips"></span></label>
                {$order_info.post_fee}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">收货地址:<span class="check-tips"></span></label>
                {$address.address}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">收货电话:<span class="check-tips"></span></label>
                {$address.mobile}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">收货人:<span class="check-tips"></span></label>
                {$address.nickname}
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">购买/预订:<span class="check-tips"></span></label>
                <switch name="order_info.type">
                    <case value="0">购买</case>
                    <case value="1">预订</case>
                </switch>
            </div>
        </div>
        <div class="form-item cf">
            <div class="controls">
                <label class="item-label">下单时间:<span class="check-tips"></span></label>
                {$order_info.create_time|date='Y-m-d H:i',###}
            </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">购买的商品:<span class="check-tips"></span></label>
            <div class="data-table" style="width:60%;">
                <table>
                    <!-- 表头 -->
                    <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名称</th>
                        <th>购买数量</th>
                        <th>商品图片</th>
                    </tr>
                    </thead>
                    <!-- 列表 -->
                    <tbody>
                    <volist name="order_goods" id="goods_info">
                    <tr>
                        <td>{$goods_info['goods_id']}</td>
                        <td>{$goods_info['goods_info']['title']}</td>
                        <td>{$goods_info['goods_number']}</td>
                        <td>
                            <a href="{$goods_info['goods_info']['main_img']}" target="_blank"><img style="height: 30px;" src="{$goods_info['goods_info']['main_img']}"/></a>
                        </td>
                    </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
	</form>
	</div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
});
</script>
</block>
